<h1>Bassein#sostav_b</h1>
<p>Find me in app/views/bassein/sostav_b.html.erb</p>
    <div class="field">
      <%= "Bassein rasschitan na #{@bassein1.razmer_b} chel." %> <br/>
      <%=  "Mujskaia razdevalka vmeschaet #{@bassein1.razdevalka_m} chel."%> <br/>
      <%=  "Jenskaia razdevalka vmeschaet #{@bassein1.razdevalka_d} chel."%>
    </div>


<%=link_to "Izmenit' parametry basseina",izmenenie_b_path, :class =>"izm_bas_button round" %>
