<header>
  <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Bassein", root_path %> </li>
      <li><%=link_to"Gruppy",spisok_g_path%></li>
      <li><%=link_to "Instruktory", spisok_i_path%></li>

    </ul>
  </nav>
</header>