<header>
  <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
  <nav class="round">
    <ul>
      <li><a href="#">Bassein</a> </li>
      <li><a href="#">Gruppy</a> </li>
      <li><a href="#">Instruktory</a></li>

    </ul>
  </nav>
</header>